.App {
  text-align: center;
  padding: 20px;
}

.gif-image {
  width: 30%; /* Điều chỉnh kích thước GIF */
  margin-top: 20px;
}

.scrolling-text {
  font-size: 100px;
  font-weight: bold;
  color: #ff6347;  /* Màu chữ đỏ */
  white-space: nowrap;
  position: fixed;
  bottom: 2;  /* Đặt chữ chạy ở dưới */
  width: 200%;
  text-align: center;
  animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);  /* Bắt đầu từ bên phải */
  }
  100% {
    transform: translateX(-100%);  /* Kết thúc ở bên trái */
  }
}
